<div class="assignment1">
  <div class="alert alert-info">Follow the steps:</div>
  <ul class="list-group">
    <li class="list-group-item">Create an input of type "text"</li>
    <li class="list-group-item">Attach a template reference variable to the input</li>
    <li class="list-group-item">Attach an "input" event passing in the value of textbox to the handler</li>
    <li class="list-group-item">Create handler in the component's class</li>
    <li class="list-group-item">Display the result on the page via string interpolation</li>
  </ul>
  <div class="container your-code">
    <!-- <h6>Remove this &lt;h3&gt; and create your HTML here</h6> -->
    <div class="row assignment1Row">
      <div class="col-2">
        <label for="Enter Name">Enter Name: </label>
      </div>
      <div class="col-5">
        <input type="text" class="form-control" #inputElem (input)="onInputEvent(inputElem.value)">
      </div>
      <div class="col-5">
        <div class="alert-danger-clr">{{ name }}</div>
      </div>
    </div>
    
  </div>
</div>
